.container-light {
  width: 115px;
  height: 115px;
  border: 2px solid #282828;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.light {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #4c4c4c;
}

.light.red-light.on {
  background: #fe0002;
  box-shadow: 0px 0px 20px #fe0002;
}
.light.yellow-light.on {
  background: #ffd140;
  box-shadow: 0px 0px 20px #ffd140;
}
.light.green-light.on {
  background: #01e924;
  box-shadow: 0px 0px 20px #01e924;
}
