.traffic-light {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 139px;
  height: 420px;
  background: #020202;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 12px;
  margin: 0 auto;
  gap: 24px;
}
